name: dependabot-auto-approve-and-merge

on:
  workflow_call:
    inputs:
      pr-url:
        required: true
        type: string
    secrets:
      GITHUB_ACCESS_TOKEN:
        description: "(ie: GITHUB_TOKEN) GitHub token"
        required: true

jobs:
  approve:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      update-type: ${{ steps.dependabot-metadata.outputs.update-type }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Dependabot metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2.5.0
        id: dependabot-metadata

      - name: Check for merge conflicts
        uses: sv-tools/block-merge-conflicts@911859e7a913f086e9f89db5117e0942690bd64e # v2.0.0
        with:
          token: ${{ secrets.GITHUB_ACCESS_TOKEN }}

      - name: Approve a PR if not already approved
        if: ${{ steps.dependabot-metadata.outputs.update-type != 'version-update:semver-major' }}
        run: |
          gh pr checkout "$PR_URL" # sets the upstream metadata for `gh pr status`
          if [ "$(gh pr status --json reviewDecision -q .currentBranch.reviewDecision)" != "APPROVED" ];
          then gh pr review --approve "$PR_URL" && gh pr merge --auto --squash "${PR_URL}"
          else echo "PR already approved, skipping additional approvals to minimize emails/notification noise.";
          fi
        env:
          PR_URL: ${{ inputs.pr-url}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}

  merge:
    runs-on: ubuntu-latest
    needs: approve
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Auto-merge
        if: ${{ needs.approve.outputs.update-type != 'version-update:semver-major' }}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ inputs.pr-url}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}
