name: pr-lint

on:
  workflow_call:
    inputs:
      run-lint:
        required: false
        type: boolean
        default: false
      cspell-config:
        description: "Path to the cspell configuration file. Required to run spell-checking. eg '.cspell.json'"
        required: false
        type: string
    secrets:
      GITHUB_ACCESS_TOKEN:
        description: "(ie: GITHUB_TOKEN) GitHub token"
        required: true

permissions:
  contents: read

jobs:
  super-linter:
    runs-on: ubuntu-latest
    if: ${{ inputs.run-lint == true }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0

      - name: Run super-linter
        uses: super-linter/super-linter@61abc07d755095a68f4987d1c2c3d1d64408f1f9 # v8.5.0
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          FILTER_REGEX_EXCLUDE: (./\.editorconfig|\.idea/*|\.vscode/*)
          IGNORE_GENERATED_FILES: true
          # false -> only checks changed files
          VALIDATE_ALL_CODEBASE: false
          # only runs appropriate linters against the types of files that changed
          VALIDATE_CSHARP: true
          VALIDATE_EDITORCONFIG: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_YAML: true
          GITHUB_ACTIONS_COMMAND_ARGS: --ignore 'Double quote to prevent globbing and word splitting'
          ENABLE_GITHUB_ACTIONS_STEP_SUMMARY: true

  spell-check:
    runs-on: ubuntu-latest
    if: ${{ inputs.cspell-config != null }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Spellcheck
        uses: streetsidesoftware/cspell-action@d5d910b521ad408f1e7383c24609079f5a88bdca # v8.2.0
        with:
          config: ${{ inputs.cspell-config }}
          check_dot_files: false
          incremental_files_only: true
