name: version

on:
  workflow_call:
    inputs:
      os:
        required: false
        type: string
        default: ubuntu-latest
      version-artifact-name:
        description: "Name of the artifact to put the version file in"
        required: false
        type: string
        default: "version"
      is-release-branch:
        description: 'If its a release branch or not. eg release from main check would be "github.ref==''refs/heads/main''" '
        type: boolean
        required: true
    outputs:
      version:
        description: The new version number
        value: ${{ jobs.find-version.outputs.version }}
      current-version:
        description: The current version number
        value: ${{ jobs.find-version.outputs.current-version }}

permissions:
  contents: read

jobs:
  find-version:
    runs-on: ${{ inputs.os }}
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      current-version: ${{ steps.get-version.outputs.current-version }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Determine release branch name
        id: release-branch
        run: |
          release_branch="main"
          if [ "${GITHUB_REF_NAME}" = "main" ] && [ "${{ inputs.is-release-branch }}" != "true" ]; then
            release_branch="not-main-release"
          fi

          echo "release-branch-name=$release_branch" >> $GITHUB_OUTPUT
          echo "Release branch name set to: $release_branch"

      - name: Get version
        uses: reecetech/version-increment@a29aa752dc3b8118a2dc2ed93faf0e95a73a9c7e # 2024.10.1
        id: get-version
        with:
          scheme: conventional_commits
          increment: patch
          release_branch: ${{ steps.release-branch.outputs.release-branch-name }}

      - name: Current version
        run: echo "${{ steps.get-version.outputs.current-version }}"

      - name: New version
        id: write_version
        run: |
          VERSION="${{ steps.get-version.outputs.version }}"
          echo "New version: $VERSION"
          echo $VERSION > version.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.version-artifact-name }}
          path: version.txt
          if-no-files-found: error
